<!doctype html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print" />

</head>
<body ng-controller="DemoController">

  <div class="container">
    <h1>Barcoded</h1>

    <form ng-submit="submit()" method="post" name="barcodeForm" class="form">
      <label for="symbology">Symbology:</label>
      <select ng-model="postData.encoding" id="symbology">
        <option ng-repeat="symbology in symbologies" value="{{symbology.value}}">{{symbology.name}}</option>
      </select>
      <label for="format">Format</label>
      <select ng-model="postData.format" ng-options="format for format in formats" id="format"></select>
      <label for="data">Data:</label>
      <input ng-model="postData.data" required type="text" id="data"/>
      <button ng-disabled="barcodeForm.$invalid" type="submit">Generate</button>
    </form>
    <div ng-if="errorMessage">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
    <p>
      <strong>Using API Endpoint:</strong> {{endpoint}}
    </p>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Barcode
      </div>
      <div class="panel-body">

        <div ng-if="postData">
          <strong>PostData:</strong>
          <p>
            <code>{{postData}}</code>
          </p>
        </div>

        <div ng-if="responseData">
          <strong>ResponseData:</strong>
          <p>
            <code>{{responseData}}</code>
          </p>
        </div>

        <div ng-if="barcodeURL">
          <img ng-src="{{barcodeURL}}"/>
        </div>
      </div>
    </div>

  </div>

  <!-- load javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="scripts/demo.js"></script>
</body>
</html>
